<template>
  <button @click="sendTokenFrom">Send Token</button>
  <button @click="sendTRC10">Send TRC10</button>
  <button @click="contractHandler">Contract Write</button>
</template>

<script>
export default {
  setup() {
    const sendTokenFrom = () => {
      var obj = setInterval(async () => {
        //await window.tronWeb.request({ method: 'tron_requestAccounts' }) // Wallet requests requests

        if (window.tronWeb && window.tronWeb.defaultAddress.base58) {
          clearInterval(obj)

          try {
            var to = 'JYPbwcSjstWevzM6mn2zCcEv1ywFtRkJWW'
            var tokenID = '1000088'
            var amount = 100000 * 100 // * 100 to sun

            const result = await tronWeb.trx.sendToken(to, amount, tokenID)

            console.log(result)
          } catch (error) {
            console.log(error)
          }
        }
      }, 10)
    }

    const sendTRC10 = () => {
      var obj = setInterval(async () => {
        if (window.tronWeb && window.tronWeb.defaultAddress.base58) {
          clearInterval(obj)

          try {
            const privateKey = '...' // security for move to .env file
            var toAddress = 'TM2TmqauSEiRf16CyFgzHV2BVxBejY9iyR'
            var tokenID = '1000088'
            var amount = 1000
            var fromAddress = 'TVDGpn4hCSzJ5nkHPLetk8KQBtwaTppnkr'
            //Creates an unsigned TRC10 token transfer transaction
            const tradeobj = await tronWeb.transactionBuilder
              .sendToken(toAddress, amount, tokenID, fromAddress)
              .then((output) => {
                console.log('- Output:', output, '\n')
                return output
              })
            //sign
            const signedtxn = await tronWeb.trx.sign(tradeobj, privateKey)
            //broadcast
            const receipt = await tronWeb.trx
              .sendRawTransaction(signedtxn)
              .then((output) => {
                console.log('- Output:', output, '\n')
                return output
              })
          } catch (error) {
            console.log(error)
          }
        }
      }, 10)
    }

    const contractHandler = () => {
      var obj = setInterval(async () => {
        if (window.tronWeb && window.tronWeb.defaultAddress.base58) {
          clearInterval(obj)

          try {
            const privateKey = '...'
            const to = 'TM2TmqauSEiRf16CyFgzHV2BVxBejY9iyR'
            const tokenID = '1000088'
            const amount = 100000
            const tokenValue = 10000000 // Token Decimal value
            const from = window.tronWeb.defaultAddress.base58

            const contract = 'TAaRtsXcVxZUGgECUxeA6GNyE3QDYMQ7L1' // Your contract adress
            const instance = await window.tronWeb.contract().at(contract)

            // Call to contract in method and pass your params
            var result = await instance
              .transferTokenTest(from, amount, tokenID)
              .send({
                tokenId: tokenID,
                tokenValue,
                feeLimit: 100,
                shouldPollResponse: true,
              })
          } catch (error) {
            console.log(error)
          }
        }
      }, 10)
    }

    return { sendTokenFrom, sendTRC10, contractHandler }
  },
}
</script>
